/* 
 * Global
 */

body {
  padding: 0;
  user-select: none;
  color: var(--vscode-foreground);
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 6px;
}

/*
 * Scrollable Style
 */

vscode-scrollable {
  height: 100vh;
  width: 100%;

  vscode-tree:first-child {
    margin-top: 0;
  }

  vscode-tree:last-child {
    margin-bottom: 0;
  }

  #view-container {
    margin: 14px;

    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}

/*
 * Entity Information Style
 */

ul#entity-info {
  padding-left: 0;

  li {
    display: flex;

    label {
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;

      &.info-label {
        color: var(--vscode-foreground);
      }
    }
  }
}

/*
 * Component List
 */

.component-list {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 4px;
}

/*
 * Component style
 */

details {
  width: 100%;
  border-radius: 2px;

  &:hover {
    cursor: pointer;
  }

  &[open]>summary {
    .header-icon {
      transform: rotate(90deg);
    }
  }

  summary {
    display: flex;
    column-gap: 6px;

    span {
      overflow: hidden;
      white-space: nowrap;
      /* text-overflow: ellipsis; */
      direction: rtl;
      text-align: left;
      flex: auto;
    }

    list-style: none;
    display: flex;
    height: 26px;
    align-items: center;

    &:focus {
      outline: none;
    }

    vscode-icon {
      flex: none;
    }
  }

  .details-content {
    cursor: default;
    padding-top: 4px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
  }
}

/*
 * Declaration
 */

.declaration {
  display: flex;
  column-gap: 8px;
  align-items: center;

  label {
    flex: 3;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  input {
    flex: 5;
  }

  vscode-textfield {
    flex: 5;
  }
}

#component-creation {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  #component-creation-options {
    display: flex;
    column-gap: 4px;

    vscode-textfield {
      flex: auto;
    }

    vscode-button {
      flex: none;
    }
  }

  #component-creation-confirmation {
    display: flex;
    justify-content: flex-end;
  }
}