/* 
 * Global
 */

body {
  padding: 0;
  user-select: none;
  color: var(--vscode-sideBar-foreground);
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

h3 {
  margin-block-start: 0;
  margin-block-end: 6px;
}

/*
 * Scrollable Style
 */

vscode-scrollable {
  height: 100vh;
  width: 100%;

  vscode-tree:first-child {
    margin-top: 0;
  }

  vscode-tree:last-child {
    margin-bottom: 0;
  }

  #view-container {
    margin: 14px;

    display: flex;
    flex-direction: column;
    gap: 18px;
  }
}

/*
 * Entity Information Style
 */

ul#entity-info {
  padding-left: 0;

  li {
    display: flex;

    label {
      flex: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }
}

/*
 * Component List
 */

.component-list {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  row-gap: 6px;
}

#component-creation {
  display: flex;
  flex-direction: column;
  row-gap: 4px;

  #component-creation-options {
    display: flex;
    column-gap: 4px;

    ext-text {
      flex: auto;
    }

    vscode-button {
      flex: none;
    }
  }

  #component-creation-confirmation {
    display: flex;
    justify-content: flex-end;
  }
}